.header_user {
  font-family: Tahoma, sans-serif;

  position: fixed;
  top: 0;
  width: 100%;
  height: 7vh;
  display: flex;
  background-color: rgba(82, 81, 81, 0);
  z-index: 100;
}

h3,
h4,
h5 {
  font-weight: 700;
  color: #333;
  font-size: 1.3rem;
  font-family: Quicksand, sans-serif;
}

.header_home_user {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.username_header {
  color: white;
}

.right {
  margin-left: 50px;
  right: 50px;
  position: absolute;
}

.avatar_name span {
  font-size: 1.5rem;
  font-weight: 600;
}

.list img {
  width: 15%;
  left: 10px;
}

.header-left {
  display: inline-block;
}

.header_container {
  height: 100%;
  /* background: rgb(0, 0, 0); */
  /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(52,50,50,1) 44%, rgba(49,46,46,0.9372199563419118) 87%, rgba(255,250,250,0) 100%);  justify-content: space-between; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchInput input {
  border: none;
  border-radius: 1rem;
  color: hsl(0, 0%, 20%);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0;
  outline: none;
  padding: 0 1rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.activeSearch {
  max-width: 20rem !important;
}
.activeSearch .circleButton {
  border: none !important;
}
.activeSearch input {
  opacity: 1;
  background-color: var(--themeColor);
  color: var(--textColor);
  padding-left: 2.3rem !important;
}
.activeSearch .circleButton {
  transform: rotate(360deg);
  /* transition: 1s l inear; */
}
.searchInput .circleButton {
  transition: 500ms linear;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
}
.searchInput {
  display: flex;
  transition: 500ms linear;
  position: relative;
  /* height: ; */
  max-width: 2rem;
}
.center {
  align-items: center;
}

.center input {
  padding: 1rem;
}

.header_home_user img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.center button {
  border: none;
  background-color: rgba(240, 248, 255, 0);
}

.header_user .list li {
  height: 100%;
  display: flex;
  min-width: 3rem;
  transition: 250ms;
  align-items: center;
  justify-content: center;
}
.hrefLink {
  width: 5rem;
  position: relative;
}
.ActiveLink::before {
  background-color: rgb(177, 241, 232) !important;
}
.ActiveLink::before,
.hrefLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
}
.searchInput {
  display: flex;
  height: 2rem;
}
.circleButton {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--themeColor);
  display: flex;
  margin: 1rem;
  align-items: center;
  transition: 250ms linear;
  justify-content: center;
}
.circleButton:hover {
  background-color: rgba(242, 236, 236, 0.888);
}
.TempText {
  background-color: var(--themeColor);
  margin: 1rem;
  padding: 0 1rem 0 1rem;
  border: 3px solid gray;
  border-radius: 1rem;
}
.Link,
.City {
  font-family: Arial, sans-serif;
  color: var(--textColor);
  font-weight: 600;
  /* text-transform: uppercase; */
  transition: 300ms;
}

.Link {
  color: var(--textColor);
  text-decoration: none;
}

hr {
  size: 10px;
}
.hrefLink svg {
  margin-top: 0.3rem;
}
.header_user svg {
  width: var(--icon_size);
  height: var(--icon_size);
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.Menu_profile_header {
  background-color: var(--themeColor);
  display: flex;

  flex-direction: column;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.setting {
  margin: 1rem;
}
.ActiveLink svg {
  stroke: var(--textColor);
}
.ActiveLink {
  /* background-color: rgba(158, 154, 154, 0.682); */
}
.show_menu_profile {
  display: block;
}

.avatar_name {
  margin: 10px;
  display: flex;
  align-items: center;
}

.avatar_link .ShowAll_User {
  margin: 10px;
  color: rgb(0, 217, 255);
}

.avatar_link img {
  margin: 10px;
}

.avatar_link {
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Menu_a_link_profile {
  display: block !important;
  height: auto;
}

.click_avatar {
  border: 0.1rem solid white;
}
