@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);
$heading-font-family: "Montserrat", sans-serif;
$paragraph-font-family: "Open Sans", sans-serif;
$font-Dieu: "Dancing Script", cursive;
.userMovie {
  display: flex;
  overflow: hidden;
  height: 200vh;
  width: var(--widthContentHome);
  justify-content: flex-end;
}
.abcdef {
  display: flex;
  background-color: rgba(121, 115, 115, 0.401);
  width: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sunanimation h1 {
  margin: 0;
}
.sunanimation {
  display: flex;
  left: 0;
  position: absolute;
  height: 100%;
}

.listMovies {
  display: flex;
  width: 90%;
  overflow-x: scroll;
}
.listMovies::-webkit-scrollbar {
  height: 0.4rem;
  width: 50%;
}

/* Track */
.listMovies::-webkit-scrollbar-track {
  border-radius: 0.4rem;
  background: #f1f1f1;
}

/* Handle */
.listMovies::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.listMovies::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.textList {
  width: 50%;
}
.textList span {
  font-size: 2.3rem;
}
.CardMovie {
  border-radius: 1rem;
  margin: 0.2%;
  width: 25%;
  background-color: var(--themeColor);
  height: 60vh;
}
.CardMovie h1 {
  font-style: $heading-font-family;
}
.CardMovie article {
  width: 100%;
  height: 100%;
  background-color: var(--themeColor);
}
* {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}
.detailMovieCard p {
  color: rgb(149, 141, 141);
  font-weight: 600;
}

#playlist .detailMovieCard ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
}
.parrallaxText {
  margin: 4rem;
  background-color: rgba(131, 121, 121, 0.707);
  flex-direction: column;
  border-radius: 1rem;
  padding: 2rem;
}
.textList p {
  padding: 0;
  margin: 0;
}
.textList {
  display: flex;

  font-family: $font-Dieu;
}

.detailMovieCard {
  font-family: $paragraph-font-family;
  font-size: 0.8rem;
  display: flex;
  height: 10vh;
  width: 100%;
}
.cardBackGround:hover {
  scale: (1.1);
}
.cardBackGround {
  transform: 500ms linear;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 30vh;
  object-fit: contain;
}
.DetailMovie {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inviewElement,
.HeaderDetail {
  scroll-snap-align: start;
  scroll-margin-top: 20vh;
}
.HeaderDetail {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.backgroundDetail {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}
.miniText {
  font-size: 0.9rem;
  color: rgb(170, 159, 159);
}
.actor {
  font-family: "Noto Serif Toto", sans-serif;
}
.Poster {
  display: flex;
  height: 50vh;
  width: 70vw;
  margin-top: -10%;
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: space-around;

  overflow: hidden; /* Đảm bảo rằng phần còn lại của hình tam giác không bị hiển thị */
}
.HeaderDetail {
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(233, 18, 18)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 1)),
    color-stop(0.65, rgba(0, 0, 0, 1)),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
}

.BodyDetail {
  position: relative;
  width: 85vw;
  opacity: 1;
  display: flex;
  transform: none;
  flex-direction: column;
  align-items: center;
}
.actorsMovie {
  display: flex;
  height: 10rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.actorsMovie img {
  height: 7rem;
  width: 5rem;
}
.actor {
  margin-right: 0.4rem;
  height: 100%;
  flex-direction: column;
}
.SectionDetail {
  width: 100%;
  display: flex;
  justify-content: center;
}
.SectionChild {
  width: 50%;
}
@import url("https://fonts.cdnfonts.com/css/lexend");
.DetailMovie {
  background-color: var(--themeColor);
  font-family: "Lexend", sans-serif;
}
.Poster img {
  height: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.actorsMovie::-webkit-scrollbar {
  height: 0.3rem;
  border-radius: 1rem;
  color: gray;
}
.actorsMovie::-webkit-scrollbar-track {
  color: rgb(80, 72, 72);
}
.VideoMovie {
  margin: 1rem;
}
.VideoSlide {
  transition: 300ms linear;
}
.actorsMovie::-webkit-scrollbar-thumb {
  background-color: black;
  width: 1rem;
  height: 1rem;
}
.VideoSlide {
  overflow: hidden;
  display: flex;
  width: 100vw;
}
.comment {
  position: relative;
  display: flex;
  align-items: center;
}
.commentMovie .center {
  position: relative;
  width: 70%;

  flex-direction: column;
}
.replyButton:hover {
  text-decoration: underline;
}
.allComment {
  border-radius: 1rem;
  padding: 3rem;
  background-color: var(--themeColor);
}

.likedislike {
  display: flex;
  font-size: 0.8rem;
}
.likedislike span {
  color: rgb(139, 137, 137);
}
.activeLike svg {
  fill: var(--textColor);
}
.spanInput {
  position: absolute;
  top: 0;
  left: 0;
}
.inputDiv {
  display: flex;

  margin-left: 0.7rem;
  border-radius: 0.5rem;
  background-color: var(--themeColor);
  color: var(--textColor);
  border: none;
  outline: 0;
  z-index: 0;
  position: relative;
  min-height: 3rem;
}
.sendComment {
  margin: 0.5rem;
  cursor: pointer;
  height: 100%;
  font-size: 1.4rem;
}
.commentDiv {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 1rem;
}
.headerComment {
  display: flex;
}
.bodyComment {
  margin: 0 0rem 0.4rem 0.4rem;
  border-radius: 1rem;
}
.NameAndContent {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.commentDiv p {
  width: 100%;
  min-height: 2rem;
}
.placehoder {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 0;
  height: 50%;
}
.spanComment {
  min-width: 1rem;
  min-height: 1rem;
  max-width: 20rem;
  max-height: 5rem;
}

.linearComment {
  height: calc(100% - 2.6rem);
  border-left: 0.1rem solid rgba(107, 107, 107, 0.649);
  margin-left: 1.27rem;
}
.CommentReply {
  position: relative;
}
.CommentReply .AvatarComment2::before {
  content: "";
  position: absolute;
  left: -1.73rem;
  width: 2rem;

  height: 50%;
  border-left: 0.1rem solid rgba(107, 107, 107, 0.649);
  border-bottom: 0.1rem solid rgba(107, 107, 107, 0.649);
  border-bottom-left-radius: 0.5rem;
}
.CommentReply .notLastComment::before {
  content: "";
  position: absolute;
  width: 2rem;
  left: -1.73rem;
  height: 100%;
  border-left: 0.1rem solid rgba(107, 107, 107, 0.649);
}
.AvatarComment2 {
  position: relative;
}
.CommentReply {
  margin-left: 3rem;
}
.contentComment span {
  word-break: break-all;
  white-space: normal;
}
.contentComment {
  width: 100%;
  margin: 0.3rem 0 0.2rem 0;
}

.contentComment .tagNameHref:hover {
  text-decoration: underline;
}
.tagNameHref {
  color: rgb(21, 142, 255);
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgb(229, 243, 255);
}
.likeButton {
  margin: 0 0.3rem;
  cursor: pointer;
}
.slideButton {
  font-size: 2rem;
  cursor: pointer;
}
