.MovieCard {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  transition: 500ms ease-out;
  height: 100%;
  visibility: hidden;
  /* opacity: 0; */
  -webkit-mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(233, 18, 18)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgba(0, 0, 0, 1)),
    color-stop(0.65, rgba(0, 0, 0, 1)),
    color-stop(0.85, rgba(0, 0, 0, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
}

.MovieFilms {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 500ms ease-out;
}
.MovieFilms2{
  margin: .4rem;
  display: flex;
  width:15vw;
}
.vangohPics,
.userMovie {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.MovieContainer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  transition: 300ms ease-out;
  height: 100vh;
  width: var(--widthContentHome);
  position: relative;
  -webkit-mask-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, rgba(0, 0, 0, 1)),
    color-stop(0.35, rgba(0, 0, 0, 1)),
    color-stop(0.5, rgb(44, 42, 42)),
    color-stop(0.65, rgb(53, 51, 51)),
    color-stop(0.85, rgba(75, 73, 73, 0.6)),
    color-stop(1, rgba(0, 0, 0, 0))
  );
}
.leftMovieFilm {
  width: 50%;
  height: 100%;
  background-color: var(--backgroundTextColor);
}

.activeFilm {
  background-attachment: fixed;
  visibility: visible;
}

@keyframes cc {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
.MovieLayout {
  width: 100%;
}
.slideScrollMovie {
  background-color: rgba(25, 24, 24, 0.77);
  backdrop-filter: blur(1rem);
  width: 90%;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  overflow: hidden;
}

.imageSlide {
  cursor: pointer;
  transition: 500ms ease;
}
.imageSlide img {
  width: 4.5rem;
  aspect-ratio: 10/12;
  object-fit: contain;

  border-radius: .9rem;
}
.notActiveImage {
  transition: 500ms linear;
  opacity: 0.6;
}
.ActiveImage{
  border-radius: 1rem;

  background-color: rgba(53, 53, 53, 0.512);
}
.leftContentMovie {
  width: 100%;
  transition: 500ms;
  padding: 2rem;
}
.leftMovieFilm h1 {
  font-family: Tahoma, sans-serif;
  font-size: 3.5rem;
}
.overViewText p,
.SeeMoreText {
  display: -webkit-box;

  overflow: hidden;
  /* text-overflow: ellipsis; */
}
.overViewText div {
  padding: 2rem;
}
.overViewText {
  width: 90%;

  border-radius: 1rem;
  background-color: rgba(207, 192, 192, 0.208);
}
.buttonFilm2:hover span,
.buttonFilm:hover span {
  color: black;
}

.buttonFilm2:hover svg,
.buttonFilm:hover svg {
  stroke: black !important;
}
.buttonFilmHandle {
  font-weight: 600;
}
.ratingFilm ul {
  flex-direction: row;
  /* display: inline-block; */
}
.scoreFilm svg {
  /* fill: white; */

  stroke: black;
}
@keyframes cc {
  0% {
    visibility: visible;
  }
  100% {
    visibility: none;
  }
}
.backgroundImage {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  width: 100%;
  z-index: 91;
  position: absolute;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ant-popover-inner,
.ant-popover-arrow::before,
.ant-popover-arrow::after {
  background-color: var(--themeColor) !important;
}

.ReactPlayer {
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}
.Videoplayer {
  /* filter: blur(1rem); */
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(10, 10, 10, 0.629);
}
.CloseWindowVideo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 102;
}
.Report {
  position: absolute;
  margin: 1rem;
  border-radius: 1rem;
  color: black;
  background-color: rgb(255, 255, 255);
}
