.myCommentComponent
{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    z-index: 555 !important;
    padding-left: 3rem;
    width: 60rem;
   
}
.commentDiv img,.contentComment img{
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
.commentImg{
  width: 50%;
}
// .allComment,.myCommentComponent
// {
//   padding: 1rem;
//   margin: 1rem;
//       border-radius: 1rem;

//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
//   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// }
.commentDiv:focus + .linear{
  border-radius: 1px black solid;
}

// .tagNameHref{
//   margin-right: 1rem;
// }
// .spanComment{
//   padding: 1rem;
// }
.myCommentComponent span,.myCommentComponent p{
    white-space-collapse: preserve; 

}
.emoji
{
  height: 1rem;
  width: 1rem;
}

.tag:hover{
  background-color: rgba(158, 153, 153, 0.462);
}
.tag {
  padding: 1rem;
    cursor: pointer;
    transition: 300ms ease;
    border-radius: .5rem;
    display: flex;
    align-items: center;
  }
  .tagList {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    position: absolute !important;
    z-index: 2 !important;
    display: flex;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    left: 10rem;
    background-color:var(--themeColor);
    top: 50%;
  }
  .featureComment{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .commentDiv{
    outline: 0;
  }
