.TVMovieClass {
  background-color: rgb(113, 94, 94);
}
.sessionTV {

  width: var(--widthContentHome);
}
.vangohPics {
  background-color: var(--themeColor);
  background-blend-mode: luminosity;
}
.containerMoviesType {
  width: var(--widthContentHome);
  background: var(--themeColor);
}

.ulVerion {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: space-around;
  flex-direction: row !important;
  list-style: none;
}
.ulVerion li:hover {
  background-color: gray;
}
.ulVerion li {
  width: 30%;
  height: 100%;
  cursor: pointer;
}
.MoviesType {
  width: var(--widthContentHome);
  justify-content: center;
}
.CardType {
  width: 100%;
}
.pageText {
  margin: 1rem;
}
