.leftHome{
    position: fixed;
    right: 0;
    height: 100vh;
    opacity: var(--opacityShow);
    background-color: var(--themeColor);
    width: 15vw;
    /* padding: 0 1rem 0 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 99;
}
.newFeedList{
    transition: 500ms ease;
    border-radius: .7rem;
}
.activeSection{
    background-color: rgb(170, 42, 42);
}