.message {
  display: flex;
  margin-bottom: 0.3rem;
  flex-direction: column;
}
.Mess_seen_text {
  --opacityhover: hidden;
}
.messageTop,
.messageBottom {
  display: flex;
  align-items: center;
}
.firstMessage,
.midMessage {
  margin-left: 3rem;
  margin-bottom: 0.2rem;
}
.midMessage{
  margin-left: 3rem;
}
.firstMessage .messageText {
  border-radius: 2rem 2rem 2rem 0.3rem;
}
.endMessage .messageText {
  border-radius: 0.3rem 2rem 2rem 2.5rem;
}
.own .firstMessage,
.own .midMessage {
  margin-right: 3.7rem;
  margin-bottom: 0.2rem;
}
.own_firstMessage .messageText{
  border-radius: 2rem 2rem 0.3rem 2rem !important;

}
.own_endMessage .messageText{
  border-radius: 2rem 0.3rem 2rem 2rem !important;

}
.firstMessage .messageText {
  border-radius: 1.5rem 2rem 2rem 0.3rem ;
}
.endMessage .messageText {
  border-top-left-radius: 0.3;
  border-bottom-left-radius: 1.5rem;
}
.avatar_dot {
  display: flex;
  margin: 0 0.9rem 0 0;

  align-items: flex-end;
  justify-content: flex-end;
}
.own .messageTop,
.own .Seen_field,
.own .Mess_seen_text {
  flex-direction: row-reverse;
}
.Mess_seen_container {
  display: flex;
  flex-direction: column;
}
.Seen_field {
  --hiden_seen: hidden;
  display: flex;
  align-items: center;
}

.Seen_field:hover {
  --hiden_seen: visible;
}
.Seen_field p {
  visibility: var(--hiden_seen);
  transition: 0.1s linear;
  padding-right: 0.4rem;
}
.message.own {
  display: flex;
  flex-direction: column;
}
.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 0.3rem .8rem;
  font-size: medium;
  border-radius: 0.5rem 1rem 1rem 0.5rem;
  background-color: #a8aaad9b;
  color: rgb(0, 0, 0);

  width: 100%; /* Thay đổi max-width thành width hoặc loại bỏ nếu không cần thiết */
  margin: 0;
}

.messageText span {
  display: block;
  word-wrap: break-word;
}
.Mess_seen_text,
.forget_pass {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 80%;
}
.message_content{
  margin-left: .5rem;
  margin-right: .5rem;
}
.endMessage .Mess_seen_text ,.aloneMessage .Mess_seen_text{
  margin-left: 0.5rem;
}
.messageBottom {
  position: relative;
}
.messageBottom p {
  border-radius: 10px;
  color: white !important;
  font-size: 0.7rem;
  padding: 0.4rem;
  transition: 0.1s linear;
  visibility: var(--opacityhover);
  background-color: rgba(141, 141, 141, 0.712);
}

.Mess_seen_text:hover {
  --opacityhover: visible;
  color: black;
}
.message.own .messageText {
  background-color: rgba(36, 153, 149, 0.752);
  border-radius: 1rem 0.5rem 0.5rem 1rem;
  color: rgb(255, 255, 255);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newMessage svg {
  width: 1rem;
  height: 1rem;
}
.newMessage,.hiddenBubble{
  right: 1rem;
  width: 3rem;

}
.newMessage {
  position: fixed;
  bottom: 1rem;
  z-index: 10100;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.175);
  transition: 250ms linear;
}
.newMessage:hover::before {
  content: "Tin nhắn mới";
  position: absolute;
  right: 110%;
  font-size: 0.8rem;
  background-color: white;
  display: flex;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 8em;
  height: 2rem;
}
.aloneMessage{
  margin-left: 0;
}
