.windowchat {
  border-radius: 1em;
  height: 100%;
  background-color: var(--themeColor);
  margin: 0 1rem 0 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) -2px -1px 2px 0px,
    rgba(60, 64, 67, 0.15) 3px -3px 3px 1px;
}
 .windowchat
{
  box-shadow: none !important;
}
.emojipick {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  bottom: 2rem;
  z-index: 10;
}

.stokeTheme svg {
    height: 1.1rem;
    width: 1.1rem;
  fill: var(--textColor) !important;
  stroke: var(--themeColor) !important;
}
.features_hover svg {
  stroke: var(--textColor);
  fill: var(--textColor);
}
.features_hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}
.features_hover img {
  width: 1rem;
}
.features_hover:hover {
  background-color: rgba(170, 167, 167, 0.653);
  border-radius: 50%;
}
.top_windowchat {
  border-top-left-radius: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 2px -2px rgb(162, 159, 159);
  align-items: center;
  z-index: 3;
  position: relative;
  justify-content: space-between;
}
.header_windowchat {
  margin: 0.3rem;
  width: 100%;
  padding: 0 0.4rem 0 0.4rem;
  transition: 250ms linear;
}
.header_windowchat:hover {
  border-radius: 0.7rem;
  background-color: rgb(201, 188, 188);
}
.button_windowchat {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.windowchat_feature {
  width: 100%;
  height: 20%;
}
.feature_left {
  padding: 0.5rem;
  max-width: 30%;
}
.feature_left ul {
  flex-direction: row !important;
}
.feature_left li {
  color: #f1f1f1;
  display: flex;

  margin: 0 0.3rem 0 0.3rem;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}
#send_window_input:focus {
  outline: none; /* Loại bỏ đường viền mặc định trình duyệt */
}
.windowchat_input #send_window_input {
  background-color: transparent;
  width: 100%;
  border: none !important;

  font-size: 1.02rem;
  font-weight: 300;
}
.windowchat_container .windowchat {
  width: 23vw;
}
.multiFile_layout .listImg {
  width: 10%;
}

.windowchat_container {
  position: fixed;
  display: flex;
  z-index: 101;
  bottom: 0;
  right: 60px;

  justify-content: right;
}
.Body_Chatpp {
  height: 5/6;
}
.feature_left {
  display: flex;
}
.windowchat_input {
  display: flex;
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: rgb(209, 199, 199);
  width: 55%;
  max-width: 75%;
  height: 100%;
  transition: 250ms linear;
  align-items: center;
}
.main_windowchat {
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 50vh;
}
.multiFile_layout {
  display: flex;
  align-items: center;
}
.windowchat .Mess_seen_text img {
  width: 50%;
  height: 50%;
  border-radius: 1rem;
}
.arrviedMess
{
  background-color: rgba(34, 26, 26, 0.442);
}
.windowchat .Mess_seen_text .listImg {
  height: 4rem ;
  width: 4rem;
  border-radius: 1rem;
  margin-left: 1rem;
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}
.hiddenBubble{
  position: fixed;
  z-index: 101;
  bottom: 5rem;
}
.hiddenBubble:hover svg {
  opacity: 1;
}
.closeButton svg {
  transition: 250ms linear;
  fill: rgb(0, 0, 0);
  stroke: white;
  opacity: 0;
}
