.windowchat {
  border-radius: 1em;
  height: 100%;
  background-color: var(--themeColor);
  margin: 0 1rem 0 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.emojipick {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  bottom: 2rem;
  z-index: 10;
}
.listImgDiv:hover .buttonImgView{
  opacity: 1 !important;
}
[contenteditable] {
  -webkit-user-modify: read-write-plaintext-only;
}
.buttonImgView{
  opacity: 0;
  width: 1rem;
  margin: 0;
  font-size: .5rem;
  position: absolute;
  top: .5rem;
  right: 0;
}
.listImgMess
{
  height: 4rem;
  cursor: pointer;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: .3rem;
  margin: .6rem .3rem;
}
.stokeTheme svg {
    height:1.5rem;
    width: 1.5rem;

  fill: var(--themeColor) !important;
  stroke: var(--textColor) !important;
}
.features_hover svg {
  stroke: var(--textColor);
  fill: var(--textColor);
}
.features_hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
}
.features_hover img {
  width: 1rem;
}
.features_hover:hover {
  background-color: rgba(170, 167, 167, 0.653);
  border-radius: 50%;
}
.top_windowchat {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 2px -2px rgb(162, 159, 159);
  align-items: center;
  z-index: 3;
  position: relative;
  justify-content: space-between;
}
.header_windowchat {
  margin: 0.3rem;
  max-width: 100%;
  padding: 0 0.4rem 0 0.4rem;
  transition: 250ms linear;
}
.columnFlex
{
  display: flex;
  flex-direction: column;
  margin: .3rem;
}
.columnFlex a{
  text-decoration: underline;
}
.cardMess{
  background-color: var(--themeColor);
border-radius: 1rem;
  width: 100%;
}
 .imgMess{
  width: 100% !important;
  padding: 0 !important;
aspect-ratio: 16/9;
  margin: 0 !important;
  border-radius: 0 !important;
  object-fit: cover !important;
}
.titleMess
{
  padding: 1rem;
  margin: 0;
}
.titleMess p
{
  display: -webkit-box;
  max-width: 40rem;
  -webkit-line-clamp: 3;
  font-weight: 500;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  overflow: hidden;
}

.button_windowchat {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.windowchat_feature {
  width: 100%;
  height: auto;
}
.feature_left {
  padding: 0.5rem;
  max-width: 30%;
}
.feature_left ul {
  flex-direction: row !important;
}
.feature_left li {
  color: #f1f1f1;
  display: flex;

  margin: 0 0.3rem 0 0.3rem;
  line-height: 40px;
  align-items: center;
  justify-content: center;
}
#send_window_input:focus {
  outline: none; /* Loại bỏ đường viền mặc định trình duyệt */
}
.windowchat_input #send_window_input {
  background-color: transparent;
  width: 100%;
  border: none !important;
  padding: .3rem;

  font-size: 1.02rem;
  font-weight: 300;
}
.windowchat_container .windowchat {
  width: 20vw;
}
.multiFile_layout .listImg {
  width: 10%;
}

.windowchat_container {
  position: fixed;
  display: flex;
  z-index: 101;
  bottom: 0;
  right: 60px;
  background-color: rgba(255, 255, 255, 0);
  justify-content: right;
}
.Body_Chatpp {
  height: 5/6;
}
.feature_left {
  display: flex;
}
.windowchat_input {
  display: flex;
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: rgb(209, 199, 199);
  width: 55%;
  max-width: 75%;
  transition: 250ms linear;
  align-items: center;
  flex-direction: column;
}
.main_windowchat {
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
  margin-right: .3rem;
  flex-direction: column-reverse;
  display: flex;

}
.multiFile_layout {
  display: flex;
  width: 100%;
  align-items: center;
}
.windowchat .Mess_seen_text img {
  width: 50%;
  height: 50%;
}
.arrviedMess
{
  background-color: rgba(34, 26, 26, 0.442);
}

.windowchat .Mess_seen_text .listImg,#send_window_input img {
  height: 5rem ;
  cursor: pointer;
  width: 5rem;
  object-fit: cover;
  border-radius: .3rem;
  margin-left: .2rem;
}
.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}
.hiddenBubble{
  position: fixed;
  z-index: 101;
  bottom: 5rem;
}
.hiddenBubble:hover svg {
  opacity: 1;
}
.closeButton svg {
  transition: 250ms linear;
  fill: rgb(0, 0, 0);
  stroke: white;
  opacity: 0;
}
